/* ==============================|| GLOBAL STYLES ||============================== */
/* Import Swiper styles - core */
@import 'swiper/css';

/* Import required module styles */
@import 'swiper/css/a11y';
@import 'swiper/css/autoplay';
@import 'swiper/css/effect-fade';
@import 'swiper/css/keyboard';
@import 'swiper/css/mousewheel';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/parallax';

/* Base Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    height: 100%;
    overflow-x: hidden;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

pre.language-mermaid {
    text-align: center;
}

/* ==============================|| MUI Component Overrides ||============================== */
.MuiCollapse-root.MuiCollapse-vertical {
    left: 0;
}
